body {
    
    justify-content: center;
    align-items: center;
    background-color: #232328;
    font-family: 'Roboto', sans-serif;
    width: 100%; /* Занимает всю ширину */
    margin: 0; /* Убираем отступы */
}
.container {
    
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    text-align: center; /* Центрируем текст внутри элементов */
    width: 100%;
    max-width: 700px; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер на странице */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    gap: 20px; /* Расстояние между контейнерами */
    width: 100%;
    max-width: 900px; /* Увеличиваем максимальную ширину, чтобы вместить два контейнера */
    margin: 20px auto 20px; /* Центрируем и добавляем отступ снизу */
}

.containerAWG, .containerClash {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 95%; /* Занимает всю ширину */
    max-width: 300px; /* Уменьшаем ширину контейнера */
    margin: 0 auto; /* Центрируем и добавляем отступ снизу */
}



.header {
    display: flex;
    justify-content: center; /* Выравниваем по центру */
    align-items: center;
    margin-bottom: 10px; /* Отступ снизу */
    width: 100%; /* Занимает всю ширину */
    max-width: 400px; /* Ограничиваем ширину, как у контейнера */\
}


button {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
}
.button--loading::after {
    content: "";
    width: 15px;
    height: 15px;
    border: solid rgba(0, 0, 0, 0.1);
    border-top-color: #f15874;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

button.button--loading {
    display: flex;
    justify-content: center;
}

.button--loading .button__text {
    display: none;
}

#generateButton,#generateButton2,#generateButton5,#generateButton6,#generateButton9,#generateButton10 {
    background: linear-gradient(90deg, #eeac43, #f15874);
}
#generateButton3,#generateButton4,#generateButton7,#generateButton8 {
    background: linear-gradient(90deg, #eeac43, #f15874);margin-bottom: 4px;
}

#telegramButton,#BoostyButton,#githubButton,#DonationAlertsButton,#BoostyNewButton {
    background: linear-gradient(90deg, #2a3797, #0d87d2);
	width: 100%;
    max-width: 400px;
    margin: 10px auto;
}


button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#newButtons {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
}

#newButtons.show {
    visibility: visible;
    opacity: 1;
    height: 120px; /* Фиксированная высота для плавной анимации */
}	



#info {
    margin-bottom: 20px;
    color: red;
	border-radius: 5px;
	box-shadow: 0 0 0 1px red inset;
	padding: 15px;
	margin: 0 auto 20px;
	display: none;
}


#status {
    color: red;
	border-radius: 5px;
	box-shadow: 0 0 0 1px red inset;
	padding: 15px;
	margin: 0 auto 20px;
}

#status:empty {
    display: none;
}

#info:empty {
    display: none;
}


.glow-on-hover {
    width: 400px;
	max-width: 90%;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
	margin: 10px auto;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.modal {
	animation: fadeIn 2s forwards;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

.modal-content {
    background-color: #F4F4F4;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 346px;
	min-width: 346px;
    position: relative;
}

.close {
    color: #aaa;

	position: absolute;
	right: 10px;
	top: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.modal-line {

    font-weight: bold;
    color: #333;
	margin-bottom: 5px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sites, .dnsinfo {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  align-items: center;
  gap: 8px; 
  flex-wrap: wrap; 
}

.payment-option {
  min-width: 100px;
  min-height: 40px;
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.payment-option::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #eeac43, #f15874);
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 0;
}

.payment-option > * {
  position: relative;
  z-index: 1;
}

.payment-option--checked,
.payment-option:has(input:checked) {
  color: white;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.payment-option--checked::before,
.payment-option:has(input:checked)::before {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.payment-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.payment-option-content {
  display: flex;
  align-items: center;
  text-align: center;
 
}

.payment-radio {
  display: none;
}


.info-button {
  padding: 0;
position: relative;
margin: 0px;
margin-left:-25px;
left: 55px;
bottom: 5px;
  color: black;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  border: none;
  
}

.info-button:hover {
transform: none;
    box-shadow: none;
}

.settings-btn {
  display: block;
  transition: transform 0.4s ease;
}
.settings-btn:hover {
  transform: rotate(60deg);
}

}
@keyframes rot {
  from {
    transform: rotate(-100deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#info1 {padding-bottom: 10px}
#info2 {
	font-size: 15px;
	padding-top: 10px;
	text-align: center;}

button, 
input, 
textarea, 
select,
label,
.toggle-switch {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
      user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;	
}  

.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 2.5s forwards;
    z-index: 9999;
    font-weight: bold;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    15% { opacity: 1; transform: translate(-50%, 0); }
    85% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}

@keyframes fadeIn {
    0% { opacity: 0}
    15% { opacity: 1}
}

.modal2 {
	animation: fadeIn 2s forwards;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

.modal-content2 {
    background-color: #F4F4F4;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
	min-width: 346px;
    position: relative;
}

.throne-textarea {
    width: 100%;
	padding:5px;
    margin-left: -6px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    font-family: monospace;
}

textarea {padding: 0px;
word-break: break-all;}

.copy-throne-btn {
    background: linear-gradient(90deg, #eeac43, #f15874);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease;
	margin-bottom: 0px;
}

.copy-throne-btn:hover {
    transform: translateY(-2px);
}

#close2 {
	right: 3px;
	top: -3px;
}



button{width:100%;padding:10px 20px;font-size:18px;color:white;border:none;border-radius:5px;cursor:pointer;transition:background 0.3s ease, transform 0.2s ease;}
button:disabled{cursor:not-allowed;opacity:0.7;}
button,input{-webkit-tap-highlight-color:transparent;outline:none!important;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.anticon{display:inline-flex;align-items:center;color:inherit;font-style:normal;line-height:0;text-align:center;text-transform:none;vertical-align:-0.125em;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
:where(.css-1tf2gzb).ant-card{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';font-size:14px;box-sizing:border-box;}
:where(.css-1tf2gzb).ant-card{box-sizing:border-box;margin:0;padding:0;color:rgba(255,255,255,0.85);font-size:14px;line-height:1.5714285714285714;list-style:none;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';position:relative;background:#3A3C4C;border-radius:2px;}
:where(.css-1tf2gzb).ant-card .ant-card-head{display:flex;justify-content:center;flex-direction:column;min-height:56px;margin-bottom:-1px;padding:0 24px;color:rgba(255,255,255,0.85);font-weight:600;font-size:16px;background:transparent;border-bottom:1px solid #303030;border-radius:8px 8px 0 0;}
:where(.css-1tf2gzb).ant-card .ant-card-head-wrapper{width:100%;display:flex;align-items:center;}
:where(.css-1tf2gzb).ant-card .ant-card-head-title{display:inline-block;flex:1;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
:where(.css-1tf2gzb).ant-card .ant-card-extra{    border-radius: 2px;
    margin-inline-start: auto;
    color: rgba(255, 255, 255, 0.85);
    font-weight: normal;
    background-color: #282a36;
    font-size: 14px;
    padding: 5px;
    border-color: #424242;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-style: solid;}
:where(.css-1tf2gzb).ant-card-bordered{box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);}
:where(.css-1tf2gzb).ant-card-small >.ant-card-head{min-height:47px;padding:0 12px;font-size:14px;}
:where(.css-1tf2gzb).ant-card-small >.ant-card-head >.ant-card-head-wrapper >.ant-card-extra{font-size:14px;}
:where(.css-1tf2gzb).ant-card-small >.ant-card-body{padding:12px;}
:where(.css-1tf2gzb).ant-btn{outline:none;position:relative;display:inline-flex;gap:8px;align-items:center;justify-content:center;font-weight:400;white-space:nowrap;text-align:center;background-image:none;background:transparent;border:1px solid transparent;cursor:pointer;transition:all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);user-select:none;touch-action:manipulation;color:rgba(255,255,255,0.85);}
:where(.css-1tf2gzb).ant-btn:disabled>*{pointer-events:none;}
:where(.css-1tf2gzb).ant-btn.ant-btn-icon-only{padding-inline:0;}
:where(.css-1tf2gzb).ant-btn{font-size:14px;height:32px;padding:0px 15px;border-radius:6px;}
:where(.css-1tf2gzb).ant-btn.ant-btn-icon-only{width:32px;}
:where(.css-1tf2gzb).ant-btn.ant-btn-icon-only .anticon{font-size:inherit;}
:where(.css-1tf2gzb).ant-btn-color-default{color:rgba(255,255,255,0.85);box-shadow:0 2px 0 rgba(255,255,255,0.04);}
:where(.css-1tf2gzb).ant-btn-variant-outlined{border-color:#424242;background:#282A36;box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.1);}
:where(.css-1tf2gzb).ant-btn-variant-outlined:disabled{cursor:not-allowed;border-color:#424242;color:rgba(255,255,255,0.25);background:rgba(255,255,255,0.08);box-shadow:none;}
:where(.css-1tf2gzb).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover{color:#3c89e8;border-color:#3c89e8;background:#242631;}
:where(.css-1tf2gzb).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):active{color:#1554ad;border-color:#1554ad;background:#141414;}
:where(.css-1tf2gzb).ant-input{box-sizing:border-box;margin:0;padding:4px 11px;color:rgba(255,255,255,0.85);font-size:14px;line-height:1.5714285714285714;list-style:none;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';position:relative;display:inline-block;width:100%;min-width:0;border-radius:6px;transition:all 0.2s;}
:where(.css-1tf2gzb).ant-input::placeholder{color:rgba(255,255,255,0.25);user-select:none;}
:where(.css-1tf2gzb).ant-input-outlined{background:#282A36;border-width:1px;border-style:solid;border-color:#424242;box-shadow:inset 0 4px 8px rgba(0, 0, 0, 0.1);}
:where(.css-1tf2gzb).ant-input-outlined:hover{border-color:#3c89e8;background-color:#242631;}
:where(.css-1tf2gzb).ant-input-outlined:focus{border-color:#1668dc;box-shadow:0 0 0 2px rgba(0,60,180,0.15);outline:0;background-color:#141414;}
.anticon{display:inline-flex;align-items:center;color:inherit;font-style:normal;line-height:0;text-align:center;text-transform:none;vertical-align:-0.125em;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.anticon >*{line-height:1;}



@media (max-width: 700px) {
	.Sites {grid-template-columns: repeat(2, minmax(0, 1fr))}
	.dnsinfo {grid-template-columns: repeat(1, minmax(0, 1fr))}
	.modal-content {
    max-width: 346px;
	min-width: 80%;
	}	
	
	#throne {display:none}
	#logo {max-width: 90%}   
	#telegramButton,#BoostyButton,#githubButton,#DonationAlertsButton,#BoostyNewButton {
    max-width: 90%;
	width: 400px;
}


	
	.grid-container {grid-template-columns: 1fr}
	#info {
		display: block;
		max-width: 90%;
	}
	
    #status {display: none}
	.containerClash {order: 3}
    .containerAWG:nth-of-type(4) {order: 2}
	.containerAWG:nth-of-type(2) {margin-bottom: 60px;}	
}
		
    
